<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.machine.shop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.machine.shop.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.machine.shop.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.machine.shop.activity.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.machine.shop.activity.ProductSubCatalogActivity"
            android:label="@string/title_activity_product_sub_catalog" >
        </activity>
        <activity
            android:name="com.machine.shop.activity.ProductSummaryActivity"
            android:label="@string/title_activity_product_summary" >
        </activity>
        <activity
            android:name="com.machine.shop.activity.ProductDetailActivity"
            android:label="@string/title_activity_product_detail" >
        </activity>
    </application>

</manifest>